.text-center {
  text-align: center;
}

.m-b-lg {
  margin-bottom: 8rem;
}

.m-b-md {
  margin-bottom: 4rem;
}

.m-b-sm {
  margin-bottom: 2rem;
}

.m-t-lg {
  margin-top: 8rem;
}

.m-t-md {
  margin-top: 4rem;
}

.m-t-sm {
  margin-top: 2rem;
}
