@use "../abstracts/mixins";

.text-center {
  text-align: center;
}

.m-b-lg {
  margin-bottom: 8rem !important;

  @include mixins.responsive(tablet-portrait) {
    margin-bottom: 5rem !important;
  }
}

.m-b-md {
  margin-bottom: 4rem !important;

  @include mixins.responsive(tablet-portrait) {
    margin-bottom: 3rem !important;
  }
}

.m-b-sm {
  margin-bottom: 2rem !important;
}

.m-t-lg {
  margin-top: 8rem !important;
}

.m-t-md {
  margin-top: 4rem !important;
}

.m-t-sm {
  margin-top: 2rem !important;
}
